.centered-text {
  text-align: center;
}

.size-col-action {
  width: 150px;
}

.toUpperCase {
  text-transform: uppercase;
}

.labelRequired {
  color: #ff3e1d;
  font-size: 14px;
  margin-left: 2px;
}
